<!DOCTYPE html>
<html lang="en">
  <title> </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
  <body class="sans-serif">
    <header class="bg-gold">
      <div class="mw9 center pa4">
        <h3 class="f2 f1-m f-headline-l mv0 tc">
          <span class="bg-black-90 lh-copy white pa1 tracked-tight">Дмитрий, 38 лет</span>
        </h3>
        <h4 class="tc ma2">
          <span class="bg-black-90 white f1">Студент из Берлина</span>
        </h4>
      </div>
    </header>
    <main class="bg-dark-green">
      <div class="mw9 center pa4">
        <h3 class="f2 mv0 tc">
          <span class="lh-copy white pa1 tracked-tight">
            Предлагаю велопрогулки по Берлину!
          </span>
        </h3>
      </div>
    </main>
  </body>
</html>
